[Desktop Entry]
Name=recordmydesktop
Comment=Record desktop sessions to an Ogg Theora video file with Vorbis audio
Exec=/usr/share/kali-menu/exec-in-shell "recordmydesktop -h"
Icon=kali-recordmydesktop
StartupNotify=false
Terminal=true
Type=Application
Categories=kali-reporting-tools
X-Kali-Package=recordmydesktop
