[Desktop Entry]
Name=nikto
Comment=Scan web server for known vulnerabilities
Exec=/usr/share/kali-menu/exec-in-shell "nikto --Help"
Icon=kali-nikto
StartupNotify=false
Terminal=true
Type=Application
Categories=kali-web-vulnerability-scanning
X-Kali-Package=nikto
