[Desktop Entry]
Name=arpspoof
Comment=Intercept packets on a switched LAN
Exec=/usr/share/kali-menu/exec-in-shell "sudo arpspoof"
Icon=kali-arpspoof
StartupNotify=false
Terminal=true
Type=Application
Categories=kali-network-sniffing
X-Kali-Package=dsniff
