[Desktop Entry]
Name=blkcalc
Comment=Converts between unallocated disk unit numbers and regular disk unit numbers.
Exec=/usr/share/kali-menu/exec-in-shell "blkcalc"
Icon=kali-blkcalc
StartupNotify=false
Terminal=true
Type=Application
Categories=kali-sleuth-kit-suite
X-Kali-Package=sleuthkit
