[Desktop Entry]
Name=atk6-thcping6
Comment=The Hacker Choice's IPv6 Attack Toolkit
Exec=/usr/share/kali-menu/exec-in-shell "atk6-thcping6 -h"
Icon=kali-atk6-thcping6
StartupNotify=false
Terminal=true
Type=Application
Categories=kali-remote-system-discovery
X-Kali-Package=thc-ipv6
