[Desktop Entry]
Name=impacket-smbexec
Comment=Python3 module to easily build and dissect network protocols
Exec=/usr/share/kali-menu/exec-in-shell "impacket-smbexec -h"
Icon=kali-impacket-smbexec
StartupNotify=false
Terminal=true
Type=Application
Categories=kali-lateral-movement
X-Kali-Package=python3-impacket
