[Desktop Entry]
Name=generic_send_tcp
Comment=Network protocol fuzzer
Exec=/usr/share/kali-menu/exec-in-shell "generic_send_tcp"
Icon=kali-generic_send_tcp
StartupNotify=false
Terminal=true
Type=Application
Categories=kali-resource-development
X-Kali-Package=spike
