[Desktop Entry]
Name=cewl
Comment=Custom word list generator
Exec=/usr/share/kali-menu/exec-in-shell "cewl -h"
Icon=kali-cewl
StartupNotify=false
Terminal=true
Type=Application
Categories=kali-password-profiling-wordlists;kali-credential-access
X-Kali-Package=cewl
