[Desktop Entry]
Name=clang++
Comment=C, C++ and Objective-C compiler (LLVM based), clang binary
Exec=/usr/share/kali-menu/exec-in-shell "clang++ --help"
Icon=kali-clang++
StartupNotify=false
Terminal=true
Type=Application
Categories=kali-resource-development
X-Kali-Package=clang
