[Desktop Entry]
Name=hping3
Comment=Send (almost) arbitrary TCP/IP packets to network hosts
Exec=/usr/share/kali-menu/exec-in-shell "hping3 -h"
Icon=kali-hping3
StartupNotify=false
Terminal=true
Type=Application
Categories=kali-remote-system-discovery;kali-discovery
X-Kali-Package=hping3
